page-ask-engg {
[crsr_pointr]{
	cursor : pointer;
}
.rfi_items .rfi_radios {
    position: absolute;
    left: 10px;
    top: 5px;
}
.rfi_items .input-wrapper {
    position: absolute;
    left: 32px;
    top: 1px;
}
}
