<ion-content padding lightgrey has-header>
<ion-row main-breadcrumb ion-fixed>
  <ion-col> 
    <ol class="breadcrumb">
      <li (click)="root()"><a>Home</a></li>
      <li (click)="profile()"><a>Profile</a></li>
      <li class="active">Change Password</li>
    </ol>
  </ion-col>
</ion-row>
<div breadcrumb-height></div>
<ion-list  br-lt-grey group-head margin0>
  <ion-list-header color="lightgrey" margin0 br-btm>Change Passwords
</ion-list-header>
  <ion-item-group bg-white tabs>
  <div padding>
  <ion-segment>
    <ion-segment-button value="level1" (click) = "changelevel(1)"  *ngIf="levelFirst == 'false' " [ngClass]="(isLevel == 1) ? 'blue' : 'white'">
	<ion-icon name="lock"></ion-icon>
     Level 1
    </ion-segment-button>
    <ion-segment-button value="level2" (click) = "changelevel(2)" *ngIf="levelSecond == 'false' " [ngClass]="(isLevel == 2) ? 'blue' : 'white'">
		<ion-icon name="lock"></ion-icon>
   Level 2
    </ion-segment-button>
	   <ion-segment-button value="level3" (click) = "changelevel(3)" *ngIf="levelThird == 'false' " [ngClass]="(isLevel == 3) ? 'blue' : 'white'">
	   	<ion-icon name="lock"></ion-icon>
   Level 3
    </ion-segment-button>
	   <ion-segment-button value="level4" (click) = "changelevel(4)" *ngIf="levelFourth == 'false' " [ngClass]="(isLevel == 4) ? 'blue' : 'white'">
	   	<ion-icon name="lock"></ion-icon>
   Level 4
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="password" color="white">
  <ion-list *ngIf="isLevel == '1' " margin0 padding> 
  <ion-row >
  <ion-col  col-12 col-xl-6 >  
  <div  br-lt-grey p-b-20 m-b-15>
   <ion-list-header color="lightgrey" margin0 br-btm>
   Password
  </ion-list-header>
  <ion-item col-12  >
    <ion-label floating>Current Password</ion-label>
    <ion-input type="password" clearOnEdit="false" [(ngModel)]="data.currentpassword"></ion-input>
  </ion-item>
    <ion-item col-12>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" clearOnEdit="false" [(ngModel)] = "data.newpassword"></ion-input>
  </ion-item>
   <ion-item col-12 >
    <ion-label floating>Confirm Password</ion-label>
    <ion-input type="password" clearOnEdit="false" [(ngModel)] = "data.confirm"></ion-input>
  </ion-item>
    </div>
	  </ion-col>
  <ion-col  col-12 col-xl-6 >  
	 <div  br-lt-grey p-b-20 >
   <ion-list-header color="lightgrey" margin0 br-btm>
   Security Question ? 
  </ion-list-header>
  <ion-item>
    <ion-label floating>Select Question ?</ion-label> 
    <ion-select [(ngModel)]="data.questions"  >
      <ion-option value="Name Of Your Pet" >Name Of Your Pet ?</ion-option>
      <ion-option value="Favorite Color" >Favorite Color ?</ion-option>
      
    </ion-select>
  </ion-item>
    <ion-item>
    <ion-label floating>Answer</ion-label>
    <ion-input type="text"  [(ngModel)]="data.answer"></ion-input>
  </ion-item>
  </div>
  </ion-col>
    </ion-row>
	<button ion-button float-right m-b-15  (click) = "updatePassword(data)">Save</button>
<div clearboth></div>
    

  </ion-list>

  <ion-list *ngIf="isLevel == '2' " margin0 padding>
<ion-row>
 <ion-col  col-12 col-xl-6 > 
  <div  br-lt-grey p-b-20 m-b-15>
   <ion-list-header color="lightgrey" margin0 br-btm>
   Passwords
  </ion-list-header>
  <ion-item col-12  >
    <ion-label floating>Current Password</ion-label>
    <ion-input type="password" clearOnEdit="false" [(ngModel)]="data.currentpassword"></ion-input>
  </ion-item>
    <ion-item col-12>
    <ion-label floating>New Password</ion-label>
    <ion-input type="password" clearOnEdit="false" [(ngModel)] = "data.newpassword"></ion-input>
  </ion-item>
   <ion-item col-12 >
    <ion-label floating>Confirm Password</ion-label>
    <ion-input type="password" clearOnEdit="false" [(ngModel)] = "data.confirm"></ion-input>
  </ion-item>
    </div>
	  </ion-col>
 <ion-col  col-12 col-xl-6 >  
	 <div  br-lt-grey p-b-20 >
   <ion-list-header color="lightgrey" margin0 br-btm>
   Security Questions ?
  </ion-list-header>
  <ion-item>
    <ion-label floating>Select Question ?</ion-label>
<ion-select [(ngModel)]="data.questions">
      <ion-option value="Name Of Your Pet">Name Of Your Pet ?</ion-option>
      <ion-option value="Favorite Color">Favorite Color ?</ion-option>
      
    </ion-select>
  </ion-item>
    <ion-item>
    <ion-label floating>Answer</ion-label>
    <ion-input type="text" [(ngModel)]="data.answer"></ion-input>
  </ion-item>
  </div>
  </ion-col>
    </ion-row>
	<button ion-button float-right m-b-15  (click) = "updatePassword(data)">Save</button>
<div clearboth></div>
  </ion-list>
  <ion-list *ngIf="isLevel == '3' " margin0 padding   >

<ion-row >
  <ion-col  col-12 col-xl-6 >  
  <div  br-lt-grey p-b-20 m-b-15>
   <ion-list-header color="lightgrey" margin0 br-btm>
   Passwords
  </ion-list-header>
  <ion-item col-12  >
    <ion-label floating>Current Password</ion-label>
    <ion-input type="password" clearOnEdit="false" [(ngModel)]="data.currentpassword"></ion-input>
  </ion-item>
    <ion-item col-12>
    <ion-label floating>New Password</ion-label>
    <ion-input type="password" clearOnEdit="false" [(ngModel)] = "data.newpassword"></ion-input>
  </ion-item>
   <ion-item col-12 >
    <ion-label floating>Confirm Password</ion-label>
    <ion-input type="password" clearOnEdit="false" [(ngModel)] = "data.confirm"></ion-input>
  </ion-item>
    </div>
	  </ion-col>

     <ion-col  col-12 col-xl-6 >  
   <div  br-lt-grey p-b-20 >
   <ion-list-header color="lightgrey" margin0 br-btm>
   Security Questions ?
  </ion-list-header>
  <ion-item>
    <ion-label floating>Select Question ?</ion-label>
<ion-select [(ngModel)]="data.questions"  >
      <ion-option value="Name Of Your Pet">Name Of Your Pet ?</ion-option>
      <ion-option value="color">Favorite Color ?</ion-option>
      
    </ion-select>
  </ion-item>
    <ion-item>
    <ion-label floating>Answer</ion-label>
    <ion-input type="text"  [(ngModel)]="data.answer"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Email Security</ion-label>
    <ion-toggle [(ngModel)]="isOn"></ion-toggle>
  </ion-item>

  </div>
  </ion-col>
  <ion-col  col-12 col-xl-6 *ngIf="isOn == true">  
	 <div  br-lt-grey p-b-20 >
   <ion-list-header color="lightgrey" margin0 br-btm>
    Email Verification
  </ion-list-header>
  <ion-item>
  <ion-label floating>Enter Email</ion-label>
    <ion-input type="Email" [(ngModel)] = "data.email"></ion-input>
  </ion-item>

  </div>
  </ion-col>
    </ion-row>
	<button ion-button float-right m-b-15 (click) = "updatePassword(data)">Save</button>
<div clearboth></div>
  </ion-list>
    <ion-list *ngIf="isLevel == '4' " margin0 padding>
<ion-row>
  <ion-col  col-12 col-xl-6 >  
  <div  br-lt-grey p-b-20 m-b-15>
   <ion-list-header color="lightgrey" margin0 br-btm>
   Passwords
  </ion-list-header>
  <ion-item col-12  >
    <ion-label floating>Current Password</ion-label>
    <ion-input type="password" clearOnEdit="false" [(ngModel)]="data.currentpassword"></ion-input>
  </ion-item>
    <ion-item col-12>
    <ion-label floating>New Password</ion-label>
    <ion-input type="password" clearOnEdit="false" [(ngModel)] = "data.newpassword"></ion-input>
  </ion-item>
   <ion-item col-12 >
    <ion-label floating>Confirm Password</ion-label>
    <ion-input type="password" clearOnEdit="false" [(ngModel)] = "data.confirm"></ion-input>
  </ion-item>
    </div>
	  </ion-col>

     <ion-col  col-12 col-xl-6 >  
   <div  br-lt-grey p-b-20 >
   <ion-list-header color="lightgrey" margin0 br-btm>
   Security Questions ?
  </ion-list-header>
  <ion-item>
    <ion-label floating>Select Question ?</ion-label>
<ion-select [(ngModel)]="data.questions"  >
      <ion-option value="Name Of Your Pet">Name Of Your Pet ?</ion-option>
      <ion-option value="Favorite Color">Favorite Color ?</ion-option>
      
    </ion-select>
  </ion-item>
    <ion-item>
    <ion-label floating>Answer</ion-label>
    <ion-input type="text"  [(ngModel)]="data.answer"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Mobile Security</ion-label>
    <ion-toggle [(ngModel)]="isOn"></ion-toggle>
  </ion-item>
  </div>
  </ion-col>
 <ion-col  col-12 col-xl-6  *ngIf="isOn == true"> 
	 <div  br-lt-grey p-b-20 >
   <ion-list-header color="lightgrey" margin0 br-btm>
    Phone Verification
  </ion-list-header>
  <ion-item>
    <ion-label floating>Enter Phone No. with Country Code.</ion-label>
 <ion-input type="text" [(ngModel)] = "data.contact" maxlength="12"  onkeydown="javascript: return ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8  || event.keyCode == 46) ? true : false"></ion-input>
  </ion-item>

  </div>
  </ion-col>
    </ion-row>
		<button ion-button float-right m-b-15  (click) = "updatePassword(data)">Save</button>
<div clearboth></div>
  </ion-list>
</div>   
  </ion-item-group>
</ion-list>
<div footer-height></div>
</ion-content>