page-changepassword 
{
	[group-head]
	{
	ion-list
	{
&[padding]
{
	padding-top:$value0;
}
	}	
	}
	
	.blue {
		background: #f3f6f7 !important;
		border-bottom: 3px solid #488aff !important;
	}

	.white {
	background: #fff;
	}
ion-segment
{
ion-segment-button
{

    height: 4.2rem!important;
    line-height: normal !important;
    border-top: none!important;
    border-left: none;
    border-right: none!important;
}
}

}
[p-b-20]
{
padding-bottom:$value20;
}
ion-searchbar
{
background:transparent!important;
border:$none!important
input
{
border-radius:0!important
}
}
.badge-ios {
    border-radius: 4px!important;
  
}
ion-split-pane
{
button.item-ios:not([detail-none]) .item-inner
{
background-image:none
}
}