page-passwords {
ion-content
{
	 @include respond-to(handhelds2)
	{
	padding:$value5!important;
	.scroll-content
	{
	padding:$value5!important;
	}
	ion-list
	{
	margin-bottom:$value5!important;
	}
	}
}
ion-item-sliding
{
ion-item
{
.item-inner
{
border:$none!important;
h3
{
	@include respond-to(handhelds2)
	{
	font-size:$value10+2;
	}
}
h2
{
	@include respond-to(handhelds2)
	{
	font-size:-1+$value15;
	margin-top:$value0!important;
	}
}

}
}
}
}
[color-blue]
{
color:$darkblue2
}
[fnt14]
{
@include fnt14;
}
[circle-pic] {
@include wh80;
 

	
	    background: $darkblue2;
    line-height: 80px;   
    font-size: $fnt25;
    border-radius: $br-ra50;
    color: $fnt-white;
}
[padding0]
{

padding:$value0;
}