
[pd-item-lr15]
    {
    padding:$value0 $value15!important;

    ion-label
    {
        margin-left: $value0!important;
    }ion-input
    {
    input
    {
        margin-left: $value0!important;
    }
    }
    }
[m-b-0]
{
margin-bottom:$value0!important;
}
[trade-dropdown]
{
       position: relative;
       z-index: 1; 
       box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px 2px;
	   padding:$value0!important;   
	   max-height:200px;
	   overflow-x:hidden;
	   overflow-y:auto; 
}
[drop_icon_trade]{
    position: absolute;
    float: left;
    left: 144px;
    top: 43px;
    font-size: 22px;
}
[disabled_fld]{
    background: #ddd;
	@include respond-to(handhelds2)
	{
	 background:#fbfbfb;
	}
}
ion-content
{
[mb-invites-15]
{
    margin-bottom:$value15;
    border-bottom: 1px solid $lightgrey;
    ion-select
    {
     padding-left:$value0;
    }
    ion-item
    {  border:$none!important;
    .item-inner
    {
    border:$none!important;
    }
    }
}
/*[button-fix]
{
     position: fixed;
    bottom: $value0;
    width: 100%;
    padding-bottom: $value5;
    background: $lightgrey;

   
    @include respond-to(handhelds2)
    {
       bottom: 55px;
    }

button
{
    .button-inner
    {
    span
    {
    @include respond-to(handhelds2)
    {
    display:none;
    }
    }
    }
}
}*/
[m-b-50 ]
{
    margin-bottom:$value50!important;
}
[br-item-btm]
{
    border-bottom: 1px solid #dedede;
    }

ion-toolbar[add-trade]
{
ion-segment
{
ion-segment-button
{
background:$fnt-white!important;

&.segment-activated
{
background:$darkblue2!important;
color:$fnt-white!important
}
}
}
min-height:auto;
padding-bottom:$value0
}
[white-bg]
{
background:$fnt-white;
    display: inline-block;
    width: 100%;
}
[delete-button]
{
    position: absolute;
    right: $value5;
    top: $value5;
}

}
[br-dashed-grey] {
    border: 2px dashed $br-lt-grey
}
[drag-files] 
{
[browse-file]
{
[drag-text]
{
      height: 3.6rem
 
 }
 align-items: $center;
    height: 100%;
	width:100%;  
}
[drag-text]
{
    position: absolute;
    align-items: $center;
    height: 100%;
}
input[type="file"]
 {
display: block !important;
width: 100% !important;
height: 100% !important;
opacity:0 !important;
overflow: hidden !important;
z-index: 100 !important;
margin-top: -$value20;
padding-top: -$value20;
top: -$value20;
}
}
[m-t-20]
{
    margin-top: 20px;
}
[m-t-0]
{
    margin-top: 0px!important;
}
[clear-both]
{
    clear: both;
}
[hidden-xs]
{
	@include respond-to(handhelds2)
	{
	display:none
	}
}
ion-icon[item-end]
{
@include respond-to(handhelds2)
{
margin-right:$value0!important
}
}

.my-drop-zone { border: dotted 2px lightgray; }
.nv-file-over { border: dotted 2px red; } 
.another-file-over-class { border: dotted 2px green; }

.progress-outer {
        width: 96%;
        margin: 10px 2%;
        padding: 3px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
    }
 
    .progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color: map-get($colors, primary);
    }

page-edittrade {
    .toolbar-background{
     background:$whitecolor!important;
}
@include respond-to(handhelds2)
{
	[white-bg]
	{
	    background:$whitecolor!important;
	
	}	[tradelist]
		{
	    ion-item
		{
		 padding-right:$value15+1!important;
		  .item-inner
		 {
			 padding-right:$value0!important;
			 button
			 {
			    margin-right:$value0;
			 }
		 }
		 &:last-child
		 {
		 border:none!important;
		 padding-bottom:$value15;
		 .item-inner
		 {
		  border-bottom:1px solid #dedede!important;
		 }
		 }
		}
		}
	[padd-mob-lr10]
	{
	 padding-left:$value10;
	 padding-right:$value10;
	}fieldset
	{ 
	  border:none;
	  padding:$value0;
	  margin:$value0;
	  legend
	   {
	      text-transform:capitalize
	   }
	}[visible-xs]
	{
	 display:block!important;
	}
	[fileschoose] + input[type="file"]
	{
	  display:none;
	}
	ion-label
	{
		&[mrgn_lft]
		{
		   margin-left:$value0!important;
		}
	}
	.trade_sel_mrgn 
	{
		.select-text {
		   margin-left: $value25;
		 }
    }
	.flat_icon_i
	{
	  left:$value5;
	  &:before
	  {
	   font-size:$value25; 
	  }
	}
	[mar-mob-b0]
	{
	 margin-bottom:$value0;
	}
	[headtrade]
	{
	 font-size:-1+$value15;
	 font-weight:600;
	 text-transform:capitalize;
	}
    [calendar-detail] 
	{
		&[tradelist]
		{
		  ion-item
		  {
			&[year-div]
			{
			  padding:$value0!important;
			  .item-inner
			  {border:$none!important;
				ion-label
				{
				 text-align:right;
				}
			  }
			}
		  }
		}
	}
	[list-invite]
	{
		[mb-invites-15]
		{    margin:$value0;
		     padding:$value0 $value10;
			  ion-item
			  { 
			   .item-inner
			   {padding-right:$value0;
			    margin:$value0!important;
				ion-select
				{
				 min-width:100%;
				}
				button
				{
				  &[ion-button]
				  {
				    ion-icon
					{
					  font-size:$value15;
					}
				  }
				}
			   }
			  }
		}
	}
}
.select-text{
    cursor: pointer;
}
[select-pos]
{
.select-text {
    position: relative;
    z-index: 9;
}
}
	.error-text-danger {
    padding-left: $value15!important;
}[upload-main ]
{
	   padding:$value0 $value10;
	  [upload-th]
	  {    font-weight: 600;
		  font-size:$value13;
	  }
	   [upload-td]
	  {
		    font-size:$value13;
	  }
}
.no-events-label{
    display : none;
}
.event-detail-container.list
{
    display: none;
}
}
[error-file]
{
    display: inline-block;
    border: 1px solid #1f75d2;
    padding: $value10+2 $value10  $value5 $value10;
    margin-bottom: $value15;
button
{
    margin-top: -1px;
    margin-left: 10px;
}
}[button-fix]
{
     position: fixed;
    bottom: $value0;
    width: 100%;
    padding-bottom: $value5;
    background: $lightgrey;
         z-index: 1;
    padding-left: $value15;
   
    @include respond-to(handhelds2)
    {
       bottom: 55px;
    }

button
{
    .button-inner
    {
    span
    {
    @include respond-to(handhelds2)
    {
    display:none;
    }
    }
    }
}
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
  font-size: 30px;
}
[flat_icon] i{
    margin-top: 20px;
}
