<ion-content padding lightgrey manage-job (window:resize)="ionViewDidLoad()" has-header> 
<div ion-fixed id="calc_height{{timestamp}}" fixed-top-div>
<ion-row main-breadcrumb>
  <ion-col>
    <ol class="breadcrumb">
      <li (click)="root()"><a>Home</a></li>
      <li class="active">Jobs</li>
    </ol>
  </ion-col>
</ion-row>
      <ion-searchbar  searchmob (ionInput)="getItems($event)" p-5></ion-searchbar>	  
      <div button-hide *ngIf="isAssociate != '1'" p-0-3 w-100>
         <button ion-button    color="blue" fnt-regular m-b-10 fnt-normal left (click)="addJob()">
            <ion-icon name="add" mar-mob-0 m-r-5></ion-icon>
            <span class="hidden-xs">Add Job </span>
         </button>
         <ng-container *ngIf="jobs != ''">
            <button ion-button (click)="openCloseJobs('1')" color="blue" fnt-regular m-b-10 fnt-normal left>
               <ion-icon name="open" mar-mob-0 m-r-5></ion-icon>
               <span class="hidden-xs">Open </span>
            </button>
            <button ion-button (click)="openCloseJobs('2')" color="blue" fnt-regular m-b-10 fnt-normal left>
               <ion-icon name="close" mar-mob-0 m-r-5></ion-icon>
               <span class="hidden-xs"> Close </span>
            </button>
            <button ion-button (click)="deleteMultipleJobs()" color="blue" fnt-regular m-b-10 fnt-normal left>
               <ion-icon name="trash" mar-mob-0 m-r-5></ion-icon>
               <span class="hidden-xs">Delete</span>
            </button>
         </ng-container>
         <button ion-button (click) = "openManageCompanyPage()"   color="blue" fnt-regular m-b-10 fnt-normal left>
            <ion-icon name="settings" mar-mob-0 m-r-5></ion-icon>
            <span class="hidden-xs">Manage Company</span>
         </button>
         <button ion-button m-b-10 color="blue"fnt-regular  fnt-normal left (click)="openBidjobsPage()">
            <ion-icon mar-mob-0 m-r-5><img style="width: 16px;margin-top: 5px;" src="assets/img/bid_icon_white.png"></ion-icon>
            <span class="hidden-xs">Bid Jobs</span>
         </button> 
      </div>
      <div *ngIf="isAssociate != '1'">
         <ion-list>
            <ion-row col-12>
               <ion-col col-12 col-md-6 col-lg-6 col-xl-6 *ngIf="jobs != ''">
                 <ion-item>
                   <ion-label>Filter by:</ion-label>
                   <ion-select [(ngModel)]="filter_by" (ionChange)="jobFilter(filter_by,'1')">
                     <ion-option value="0">No filter</ion-option>
                     <ion-option value="date_asc">Date ascending</ion-option>
                     <ion-option value="date_desc">Date descending</ion-option>
                     <ion-option value="po_asc">PO ascending</ion-option>
                     <ion-option value="po_desc">PO descending</ion-option>
                     <ion-option value="alpha_asc">Alphabet ascending</ion-option>
                     <ion-option value="alpha_desc">Alphabet descending</ion-option>
                   </ion-select>
                 </ion-item>
               </ion-col>
               <!-- <ion-col col-3 *ngIf="jobs != ''">
                 <ion-item>
                   <ion-label>Filter by Job PO</ion-label>
                   <ion-select [(ngModel)]="filter_by_po" (ionChange)="jobFilter(filter_by_po,'po')">
                     <ion-option value="0">No Filter</ion-option>
                     <ion-option value="asc">Ascending</ion-option>
                     <ion-option value="desc">Descending</ion-option>
                   </ion-select> 
                 </ion-item> 
               </ion-col>
               <ion-col col-3 *ngIf="jobs != ''">
                 <ion-item>
                   <ion-label>Filter by Alphabets</ion-label>
                   <ion-select [(ngModel)]="filter_by_alpha" (ionChange)="jobFilter(filter_by_alpha,'alphabets')">
                     <ion-option value="0">No Filter</ion-option>
                     <ion-option value="asc">Ascending</ion-option>
                     <ion-option value="desc">Descending</ion-option>
                   </ion-select> 
                 </ion-item>
               </ion-col> -->
               <ion-col col-12 col-md-6 col-lg-6 col-xl-6>
                 <ion-item>
                   <ion-label>Filter by Status:</ion-label>
                   <ion-select [(ngModel)]="filter_by_status" (ionChange)="jobFilter(filter_by_status,'status')">
                     <ion-option value="-1">No Filter</ion-option>
                     <ion-option value="0">Pending</ion-option>
                     <ion-option value="1">Open</ion-option>
                     <ion-option value="2">Closed</ion-option>
                   </ion-select> 
                 </ion-item>
               </ion-col>
            </ion-row>
         </ion-list>
      </div>   
   </div>
	  <div class="clearfix" id="custom_height{{timestamp}}"></div>
   


         <ion-list list-contact margin0 clearboth >
            <ion-row no-padding>

               <ion-col col-12 col-md-6 col-lg-6 col-xl-6 *ngFor="let job of jobs | orderBy: order : reverse, let indx = index "> 
                  <ion-item-sliding #item br-lt-grey  list-hover>
                     <ion-item border-none  manage-job>
                        <ion-thumbnail item-start icon-ionic >
                           <ion-icon name="briefcase-outline" text-center></ion-icon>
                        </ion-thumbnail>
						
                        <h2 fnt-bold fnt14>
                           {{job.job_title}} 	
                        
                        </h2>    
                        <h3 fnt-regular m-t-5>
                           PO No - 
                           <ion-badge color="light"> #{{job.job_number}}</ion-badge>
                        </h3>
						   <ion-badge color="blue" m-t-5 fnt-normal> {{job.status == '0' ? 'Pending' : (job.status == '1' ? 'Open' : 'Closed')}}</ion-badge>
                        <ion-note  my-date  fnt12  item-end  margin0 fnt-light>{{job.date_created | date:'short'}}</ion-note>
                        <button btn-hides *ngIf="isAssociate != '1' && job.privileges.indexOf(userId) >= 0 && isBrowser == 'true'" ion-button clear item-end margin0 button-none (click) = "tradeDashboard(job._id,job.job_title)">
                           <ion-icon name="eye" fnt20></ion-icon>
                        </button>
                        <button btn-hides *ngIf="isAssociate != '1' && job.privileges.indexOf(userId) >= 0 && isBrowser == 'true'" ion-button clear item-end margin0 button-none (click)="editJobPage($event,job._id)">
                           <ion-icon name="create" fnt20></ion-icon>
                        </button>
                        <button  btn-hides *ngIf="isAssociate != '1' && job.privileges.indexOf(userId) >= 0 && isBrowser == 'true'" (click)="shareJobs(job._id,job.job_number,job.job_title,job.companyId)" ion-button clear item-end margin0 button-none>
                           <ion-icon name="share" fnt20></ion-icon>
                        </button>
                        <button  btn-hides *ngIf="isAssociate != '1' && job.privileges.indexOf(userId) >= 0 && isBrowser == 'true'" ion-button clear item-end margin0 button-none (click) = "jobCalendar(job._id)">
                           <ion-icon name="calendar" fnt20></ion-icon>
                        </button>
                        <button btn-hides  *ngIf="isAssociate != '1' && job.privileges.indexOf(userId) >= 0 && isBrowser == 'true'" (click) = "deleteJob(job._id)" ion-button clear item-end margin0 button-none>
                           <ion-icon name="trash" fnt20></ion-icon>
                        </button>
                        <button btn-hides *ngIf="isAssociate == '1' || job.privileges.indexOf(userId) == -1 && isBrowser == 'true'" ion-button clear item-end margin0 button-none (click) = "editJob(job._id)">
                           <ion-icon name="eye" fnt20></ion-icon>
                        </button>
                        <!-- </ng-container> -->
             
      						<span *ngIf="isAssociate != '1' && job.privileges.indexOf(userId) >= 0" class="form-custom-check"   item-end  checkbox-responsive>
      						  <input [ngModel]="" (change)="insertToArray($event,job._id)"  type="checkbox"  id="checkbox{{indx}}{{timestamp}}"  name="checkbox{{indx}}" class="form-check-input">
                           <label class="form-check-label"  for="checkbox{{indx}}{{timestamp}}">    </label>
      					   </span>     
                     </ion-item>
                     <ion-item-options side="left" *ngIf="isAssociate != '1' && job.privileges.indexOf(userId) >= 0 && isBrowser == 'false'">
                        <button (click)="shareJobs(job._id,job.job_number,job.job_title)" ion-button color="secondary">
                           <ion-icon name="share"></ion-icon>
                           Share
                        </button>
                        <button ion-button color="info" (click) = "jobCalendar(job._id)">
                           <ion-icon name="calendar"></ion-icon>
                           Calendar
                        </button>
                     </ion-item-options>
                     <ion-item-options side="right" *ngIf="isAssociate != '1' && job.privileges.indexOf(userId) >= 0 && isBrowser == 'false'">
                        <button ion-button color="secondary" (click) = "tradeDashboard(job._id,job.job_title)">
                           <ion-icon name="eye"></ion-icon>
                           View
                        </button>
                        <button ion-button color="primary" (click)="editJobPage($event,job._id)">
                           <ion-icon name="create"></ion-icon>
                           Edit
                        </button>
                        <button (click) = "deleteJob(job._id)" ion-button color="danger">
                           <ion-icon name="trash"></ion-icon>
                           Delete
                        </button>
                     </ion-item-options>
                     <ion-item-options side="right" *ngIf="isAssociate == '1' || job.privileges.indexOf(userId) == -1 && isBrowser == 'false'">
                        <button ion-button color="secondary" (click) = "editJob(job._id)">
                           <ion-icon name="eye"></ion-icon>
                           View
                        </button>
                     </ion-item-options>
                  </ion-item-sliding>
               </ion-col>
               <ion-col col-12 col-md-12 col-lg-12 col-xl-12 *ngIf="jobs == ''">
               <ion-item  br-lt-grey border-none>No Jobs Found.</ion-item>
               </ion-col>
               
            </ion-row>
         </ion-list>
<div footer-height></div>   
</ion-content>
<!-- <expandable-list-divider></expandable-list-divider> -->