<ion-content padding lightgrey has-header>
<ion-row main-breadcrumb ion-fixed> 
	<ion-col>
	  <ol class="breadcrumb">
	    <li (click)="root()"><a>Home</a></li>
	    <li (click)="goToJobs()"><a>Jobs</a></li>
	    <li (click)="backToTradeDash()"><a>{{active_job_breadcrumb}}</a></li> 
	    <li (click)="dismiss()"><a>RFIs</a></li> 
	    <li class="active">Reply RFI</li>
	  </ol>
	</ion-col>
</ion-row>
<div breadcrumb-height></div>
<ion-row>
<ion-col col-xl-8 offset-xl-2>
<ion-list br-lt-grey group-head head-profile>
<ion-list-header margin0 color="lightgrey" no-border br-btm >
Reply RFI
</ion-list-header> 
<div padding bg-white>
	<ion-item p-lr-0>
		<ion-label floating>Question</ion-label>
		<ion-textarea type="text" [(ngModel)] = "question" ></ion-textarea>
	</ion-item>

	<ion-item p-lr-0>
		<ion-label floating>Answer</ion-label>
		<ion-textarea type="text" [(ngModel)] = "answer" ></ion-textarea>
	</ion-item>

	<ion-row>
		<ion-col col-12 col-sm-6 col-xl-6>
			<ion-item filetype text-center left (click) = "uploadFiles()">
			<ion-icon name="cloud-upload" color="blue"></ion-icon>
			<h4 text-center>Drag & Drop Files To Upload From System</h4>
			</ion-item> 
		</ion-col>
		<ion-col col-12 col-sm-6 col-xl-6 >
			<ion-item filetype text-center left (click)="filemanagerFiles()">
			<ion-icon name="cloud-upload" color="blue"></ion-icon>
			<h4>Add Files From Salvum</h4>
			</ion-item> 
		</ion-col>
	</ion-row>

	<ion-row *ngIf="files !=''">
		<ion-item p-lr-0 border-none *ngFor="let file of files; let indx = index ">
		{{file.file_name.search('____') >= 0 ? file.file_name.split('____').pop(-1) : file.file_name.split('_--_').pop(-1)}}
		<button (click) = "removeFile(indx)"><ion-icon name="close"></ion-icon></button>
		</ion-item>
	</ion-row>
	   <button small ion-button fnt-regular float-right (click) = "replyRFI(question,answer)">Submit</button>
	   <button small ion-button fnt-regular float-right (click)="dismiss()">Cancel</button>
	   <div clearboth></div>
	   </div>
	  	  </ion-list>

	</ion-col>
</ion-row>
<div footer-height></div>
</ion-content>