page-addnotification {

}
.popover-content
{
ion-label
{
[fnt12]
{
font-size:$value12!important;
}
margin-top:$value5;
margin-bottom:$value5
}
}
[bg-transparent]
{
background:transparent;

}