page-customfooter {

}
[footer-level]
{
	margin:$value0!important;
	ion-badge
	{
		border-radius:$br-ra50!important;
	}
.new-icon
{
width:20%!important;
	
}
[level0]
	{
		background:$level0-color;		
		color:#000;
	}
	[level1]
	{
		background:$level1-color;		color:#000;
	}
	[level2]
	{
		background:$level2-color;		color:#000;
	}
	[level3]
	{
		background:$level3-color;		color:#000;
	}
	[level4]
	{
		background:$level4-color;		color:#000;
	}
}