<!--
  Generated template for the TreeNode component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<div *ngFor="let n of nodes; let i = index " class="divitem">
  <div *ngIf="n.name  == openedLevel[i]?.name">
    <button ion-item detail-none no-lines  (click)="clickNode(n)" 
            [ngClass]="{active: isSelected(n)}" *ngIf="n.type == 'directory'" icon-left >
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <span item-left *ngIf="n.children" >
              <ion-icon [color]="isSelected(n) ? 'primary' : 'gray'" [name]="isSelected(n) ? 'ios-arrow-down' : 'ios-arrow-forward'"></ion-icon>
            </span> 
          </ion-col>
          <ion-col col-2>
              <ion-icon name="folder" color="dark"></ion-icon>              
          </ion-col>
          <ion-col col-6>
              {{n.name}}
          </ion-col>
        </ion-row>
      </ion-grid>                              
    </button>

    <smail-child-node [nodes]="n.children"  *ngIf="n.children && n.type == 'directory'" [hidden]="!isSelected(n)" ></smail-child-node>
  </div>
</div>

