<ion-header modal-white> 
  <ion-navbar>
    <ion-title text-centers>Add Manual Bid</ion-title><ion-buttons end>
    <button btn-grid  (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-row>
<ion-col col-12>  
  
  <ion-item p-lr-0>
    <ion-label floating fnt-light fnt-regular>First Name*</ion-label>
    <ion-input type="text" [(ngModel)] = "first_name"></ion-input>
  </ion-item>

  <ion-item p-lr-0>
    <ion-label floating fnt-light fnt-regular>Last Name*</ion-label>
    <ion-input type="text" [(ngModel)] = "last_name"></ion-input>
  </ion-item>

  <ion-item p-lr-0>
    <ion-label floating fnt-light fnt-regular>Email*</ion-label>
    <ion-input type="email" [(ngModel)] = "email"></ion-input>
  </ion-item>

  <ion-item p-lr-0>
    <ion-label floating fnt-light fnt-regular>Company Name*</ion-label>
    <ion-input type="text" [(ngModel)] = "company"></ion-input>
  </ion-item>

  <ion-item p-lr-0>
    <ion-label floating fnt-light fnt-regular>Comment*</ion-label>
    <ion-textarea type="text" [(ngModel)] = "comment"></ion-textarea>
  </ion-item>

  <ion-item p-lr-0 *ngIf="filterTradeId == '0'">
   <ion-label floating fnt-light fnt-regular>Select Trade*</ion-label>
    <ion-select  cancelText="Cancel" okText="Okay!" [(ngModel)] = "tradeId">
      <ion-option *ngFor="let trade of alltrades" value="{{trade._id}}">
      {{trade.trade_name}}({{trade.trade_task}})</ion-option>   
    </ion-select>
  </ion-item>

  <div padding p-b-0 p-lr-0>
    <button ion-button color="darkblue" block  fnt-regular type="button" (click) = "addManualBid(first_name,last_name,email,company,comment,tradeId)">Save</button>
  </div>

</ion-col>
</ion-row>
</ion-content>
