page-importmail {
.my_checkbox
{
margin-right:$value5;
margin-top:3px;
}
}
.success .toast-wrapper{
background-color: #5cb85c!important;
}
.danger .toast-wrapper{
background-color: #d9534f!important
}
.info .toast-wrapper{
background-color: #5bc0de!important
}