<ion-content padding lightgrey has-header>
<ion-row main-breadcrumb ion-fixed>
    <ion-col>
      <ol class="breadcrumb">
        <li (click)="root()"><a>Home</a></li>
        <li class="active">Manage Password > level {{selectedLevel}}</li>
      </ol>
    </ion-col>
</ion-row>
<div breadcrumb-height></div>
<ion-list  br-lt-grey group-head margin0>
  <ion-item-group bg-white tabs>

<div color="white">
  <ion-list margin0 padding> 
  <ion-row>
  <ion-col  col-12 col-xl-6 >  
  <div  br-lt-grey p-b-20 m-b-15>
   <ion-list-header color="lightgrey" margin0 br-btm>
   Password
  </ion-list-header>
    <ion-item col-12>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" clearOnEdit="false" [(ngModel)]="password"></ion-input>
  </ion-item>
   <ion-item col-12 >
    <ion-label floating>Confirm Password</ion-label>
    <ion-input type="password" clearOnEdit="false" [(ngModel)]="confirmpassword"></ion-input>
  </ion-item>
    </div>
    </ion-col>
  <ion-col  col-12 col-xl-6 >  
   <div  br-lt-grey p-b-20 >
   <ion-list-header color="lightgrey" margin0 br-btm>
   Security Question?
  </ion-list-header>
  <ion-item>
    <ion-label floating selected="true">Select Question ?</ion-label>
<ion-select  [(ngModel)]="questions">
      <ion-option value="Name Of Your Pet">Name Of Your Pet ?</ion-option>
      <ion-option value="Favorite Color">Favorite Color ?</ion-option>
      
    </ion-select>
  </ion-item>
    <ion-item>
    <ion-label floating>Answer</ion-label>
    <ion-input type="text" [(ngModel)]="answer"></ion-input>
  </ion-item>
  </div>
  <div *ngIf="condition == 3 ">
   <ion-item *ngIf="toggoleShowHide == true">
    <ion-label floating   >Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item fnt14>
 <ion-label>  Email Security</ion-label> 
  <ion-toggle [(ngModel)]="toggoleShowHide"  ></ion-toggle>
</ion-item>
  </div>



  <div *ngIf="condition == 4 ">
   <ion-item *ngIf="toggoleShowHide == true">
    <ion-label floating   >Contact</ion-label>
    <ion-input type="number" [(ngModel)]="contact"></ion-input>
  </ion-item>

  <ion-item fnt14>
 <ion-label>  Mobile Security</ion-label> 
  <ion-toggle [(ngModel)]="toggoleShowHide" ></ion-toggle>
</ion-item>
  </div>
  </ion-col>
    </ion-row>
  <button ion-button float-right m-b-15 (click)="savePassword()">Save</button>
<div clearboth></div>
  </ion-list>
</div> 
  </ion-item-group>
</ion-list>
<div footer-height></div>
</ion-content>