<ion-content padding lightgrey has-header>
<ion-row main-breadcrumb ion-fixed>
  <ion-col>
    <ol class="breadcrumb">
      <li (click)="root()"><a>Home</a></li>
      <li (click)="wallets()"><a>Wallet</a></li>
      <li (click)="password()"><a>Password</a></li>
      <li class="active">Password Detail</li>
    </ol>
  </ion-col>
</ion-row>
<div breadcrumb-height></div>
<ion-row class="row ">
  <ion-col col-12 col-md-6 col-lg-4  offset-lg-4>
<ion-list box-shadow *ngFor="let arr of newarr">
  <ion-item fnt14>
<div text-center>

    <img alt="image"  width="100px"  height="100px" class="rounded-circle" src="assets/img/m7.png"  *ngIf="!arr.logo">
 <img alt="image"  width="100px"  height="100px" class="rounded-circle" src="{{API_ENDPOINT_URL}}images/{{arr.logo}}"  *ngIf="arr.logo">

      
    </div>
	  
  </ion-item>
  <ion-item fnt14>
 
      Name:
    <ion-note  item-end fnt14>{{arr.name}}</ion-note>
  </ion-item>
   <ion-item fnt14>
   
      Username:
    <ion-note  item-end fnt14 [hidden]= "toggoleShowHide">{{arr.username}}</ion-note>
     <ion-note  item-end fnt14 [hidden]= "!toggoleShowHide">Hidden</ion-note>
  </ion-item>
   <ion-item fnt14>
      Password
    <ion-note  item-end fnt14 [hidden]= "toggoleShowHide">{{arr.password}}</ion-note>
    <ion-note  item-end fnt14 [hidden]= "!toggoleShowHide">Hidden</ion-note>
  </ion-item>
      <ion-item fnt14>
   
      Action
    <ion-note margin0 item-end fnt14> <button ion-button clear padding0 (click)="showConfirm(arr)"><ion-icon name="trash"></ion-icon> </button>
      <button ion-button clear  padding0 (click)="edit(arr)"><ion-icon name="create"></ion-icon> </button></ion-note>
  </ion-item> 
   <ion-item fnt14>
 <ion-label>  Show/Hide</ion-label> 
  <ion-toggle  [(ngModel)]="itemCompleted"  (ionChange)="itemClicked(itemCompleted)"></ion-toggle>
</ion-item>
</ion-list>
  </ion-col>
  </ion-row>
  
   <ion-fab right bottom>
    <button ion-fab (click)="presentModal2($event)"><ion-icon name="add"></ion-icon></button>
   
  </ion-fab>
<div footer-height></div>
</ion-content>