	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/12/2018 08:18
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
/*margin-left: 20px;*/
}

.flaticon-water:before { content: "\f100"; }
.flaticon-flash:before { content: "\f101"; }
.flaticon-paint:before { content: "\f102"; }
.flaticon-cutter:before { content: "\f103"; }
.flaticon-hammer:before { content: "\f104"; }
.flaticon-floor:before { content: "\f105"; }
.flaticon-stair:before { content: "\f106"; }
.flaticon-floor-1:before { content: "\f107"; }
.flaticon-floor-2:before { content: "\f108"; }
.flaticon-carpet:before { content: "\f109"; }
.flaticon-cabinet:before { content: "\f10a"; }
.flaticon-worker:before { content: "\f10b"; }
.flaticon-concrete:before { content: "\f10c"; }
.flaticon-roof:before { content: "\f10d"; }
.flaticon-chimney:before { content: "\f10e"; }
.flaticon-window:before { content: "\f10f"; }
.flaticon-door:before { content: "\f110"; }
.flaticon-stockroom:before { content: "\f111"; }
.flaticon-barrier:before { content: "\f112"; }
.flaticon-park:before { content: "\f113"; }
.flaticon-tractor:before { content: "\f114"; }
.flaticon-chainsaw:before { content: "\f115"; }
.flaticon-sprinkler:before { content: "\f116"; }
.flaticon-floor-3:before { content: "\f117"; }
.flaticon-roller:before { content: "\f118"; }
.flaticon-business-and-finance:before { content: "\f119"; }

[ion-fab] [class^="flaticon-"]:before, [ion-fab] [class*=" flaticon-"]:before, [ion-fab] [class^="flaticon-"]:after, [ion-fab] [class*=" flaticon-"]:after{
    font-size: 18px;
}
