<ion-content padding lightgrey has-header>
<ion-row main-breadcrumb ion-fixed>
  <ion-col>
    <ol class="breadcrumb">
      <li (click)="root()"><a>Home</a></li>
      <li (click)="wallet()"><a>Wallet</a></li>
      <li class="active">Password</li>
    </ol>
  </ion-col> 
</ion-row>
<div breadcrumb-height></div>
  <ion-list margin0>
    <ion-row class="row ">
	
  <ion-col col-12 col-md-6 col-lg-4  *ngFor="let pass of passWordData let i = index ">
  <ion-item-sliding #item  br-lt-grey list-hover>

     <ion-item   wallet-main>
 <ion-thumbnail item-start icon-ionic >
 <img alt="image" class="rounded-circle" src="assets/img/m7.png"  *ngIf="!pass.logo">
 <img alt="image" class="rounded-circle" src="{{API_ENDPOINT_URL}}images/{{pass.logo}}"   *ngIf="pass.logo">
    <!-- <ion-icon name="key" text-center></ion-icon> -->
    </ion-thumbnail>
  
    <h2 fnt-bold>{{pass.name}}</h2>
 <p fnt-light>Hidden</p>
  <p fnt-light>Hidden</p>
    <button ion-button clear item-end margin0 (click)="openPassworddetailPage(pass)" *ngIf="isBrowser == 'true' "> <ion-icon name="eye" fnt20></ion-icon></button>
     <button ion-button clear item-end margin0 (click)="edit(pass)" *ngIf="isBrowser =='true'"> <ion-icon name="create" fnt20></ion-icon></button>
   <button ion-button clear item-end margin0 (click)="showConfirm(pass ,i)" *ngIf="isBrowser =='true' "><ion-icon name="trash" fnt20></ion-icon></button>
  </ion-item>

    <ion-item-options side="right" *ngIf="isBrowser =='false' ">
      <button ion-button color="danger" (click)="showConfirm(pass ,i)"><ion-icon name="trash"></ion-icon> Delete</button>
      <button ion-button color="secondary" (click)="edit(pass)"><ion-icon name="create"></ion-icon> Edit</button>
	  	    <button ion-button color="primary" (click)="openPassworddetailPage(pass)"><ion-icon name="eye"></ion-icon> View</button>
    </ion-item-options>

  </ion-item-sliding>
 </ion-col>


 <ion-col *ngIf="passWordData.length == 0">
 <div class="white-box" padding>
 No Data Found
 </div>
 </ion-col>

</ion-row>

</ion-list>
 <ion-fab right top>
    <button ion-fab (click)="presentModal2($event)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
<div footer-height></div>
</ion-content>